<ul class="questions" data-prototype="<div id=&quot;survey_questions___name__&quot;><div ><label for=&quot;survey_questions___name___title&quot; class=&quot;required&quot;>Title</label><input type=&quot;text&quot; id=&quot;survey_questions___name___title&quot; name=&quot;survey[questions][__name__][title]&quot; required=&quot;required&quot; class=&quot;form-control&quot; /></div><div ><label for=&quot;survey_questions___name___survey&quot; class=&quot;required&quot;>Survey</label><select id=&quot;survey_questions___name___survey&quot; name=&quot;survey[questions][__name__][survey]&quot; class=&quot;form-control&quot;><option value=&quot;2&quot;>2</option><option value=&quot;4&quot;>4</option><option value=&quot;6&quot;>6</option><option value=&quot;7&quot;>7</option><option value=&quot;10&quot;>10</option><option value=&quot;17&quot;>17</option><option value=&quot;19&quot;>19</option><option value=&quot;32&quot;>32</option><option value=&quot;38&quot;>38</option><option value=&quot;40&quot;>40</option><option value=&quot;41&quot;>41</option><option value=&quot;61&quot;>61</option></select></div><div ><label for=&quot;survey_questions___name___answer_type&quot; class=&quot;required&quot;>Answer type</label><select id=&quot;survey_questions___name___answer_type&quot; name=&quot;survey[questions][__name__][answer_type]&quot; class=&quot;form-control&quot;><option value=&quot;0&quot;>Multiple Choice</option><option value=&quot;1&quot;>Single Choice</option><option value=&quot;2&quot;>Star Rating</option><option value=&quot;3&quot;>Textbox</option><option value=&quot;4&quot;>Contact Info</option><option value=&quot;5&quot;>Dropdown</option><option value=&quot;6&quot;>Slider</option><option value=&quot;7&quot;>Date/Time</option></select></div><div ><label class=&quot;required&quot;>Add answer options</label><div id=&quot;survey_questions___name___answers&quot; class=&quot;answers-list&quot; data-prototype=&quot;&amp;lt;div &amp;gt;&amp;lt;input type=&amp;quot;text&amp;quot; id=&amp;quot;survey_questions___name___answers___name__&amp;quot; name=&amp;quot;survey[questions][__name__][answers][__name__]&amp;quot; required=&amp;quot;required&amp;quot; /&amp;gt;&amp;lt;/div&amp;gt;&quot;></div></div></div>">
    <li>

        <div>
            <label class="required">Add answer options</label>
            <div id="survey_questions_0_answers" class="answers-list" data-prototype="<div ><input type=&quot;text&quot; id=&quot;survey_questions_0_answers___name__&quot; name=&quot;survey[questions][0][answers][__name__]&quot; required=&quot;required&quot; /></div>">
                <li>
                    <div>
                        <input type="text" id="survey_questions_0_answers_1" name="survey[questions][0][answers][1]" required="required">
                    </div>
                    <button class="btn btn-danger" type="button">X</button>
                </li>
                <li>
                    <div>
                        <input type="text" id="survey_questions_0_answers_2" name="survey[questions][0][answers][2]" required="required">
                    </div>
                    <button class="btn btn-danger" type="button">X</button>
                </li>
                <div>
                    <button type="button" class="btn btn-info">Add an answer</button>
                </div>
            </div>
        </div>

        <button class="btn btn-danger" type="button">X</button>
    </li>

    <li>
        <div id="survey_questions_6">
        
            <div>
                <label class="required">Add answer options</label>
                <div id="survey_questions_6_answers" class="answers-list" data-prototype="<div ><input type=&quot;text&quot; id=&quot;survey_questions_6_answers_6&quot; name=&quot;survey[questions][6][answers][6]&quot; required=&quot;required&quot; /></div>">
                    <li>
                        <div>
                            <input type="text" id="survey_questions_6_answers_1" name="survey[questions][6][answers][1]" required="required">
                        </div>
                        <button class="btn btn-danger" type="button">X</button>
                    </li>
                    <li>
                        <div>
                            <input type="text" id="survey_questions_6_answers_2" name="survey[questions][6][answers][2]" required="required">
                        </div>
                        <button class="btn btn-danger" type="button">X</button>
                    </li>
                    <div>
                        <button type="button" class="new btn btn-info">Add an answer</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-danger" type="button">X</button>
    </li>


    
</ul>

{# ***************************************************************************************************
****************************************************************************************************** #}
<ul class="questions" data-prototype="<div id=&quot;survey_questions___name__&quot;><div ><label for=&quot;survey_questions___name___title&quot; class=&quot;required&quot;>Title</label><input type=&quot;text&quot; id=&quot;survey_questions___name___title&quot; name=&quot;survey[questions][__name__][title]&quot; required=&quot;required&quot; class=&quot;form-control&quot; /></div><div ><label for=&quot;survey_questions___name___answer_type&quot; class=&quot;required&quot;>Answer type</label><select id=&quot;survey_questions___name___answer_type&quot; name=&quot;survey[questions][__name__][answer_type]&quot; class=&quot;form-control&quot;><option value=&quot;0&quot;>Multiple Choice</option><option value=&quot;1&quot;>Single Choice</option><option value=&quot;2&quot;>Star Rating</option><option value=&quot;3&quot;>Textbox</option><option value=&quot;4&quot;>Contact Info</option><option value=&quot;5&quot;>Dropdown</option><option value=&quot;6&quot;>Slider</option><option value=&quot;7&quot;>Date/Time</option></select></div><div ><label class=&quot;required&quot;>Add answer options</label><div id=&quot;survey_questions___name___answers&quot; class=&quot;answers-list&quot; data-prototype=&quot;&amp;lt;div &amp;gt;&amp;lt;input type=&amp;quot;text&amp;quot; id=&amp;quot;survey_questions___name___answers___name__&amp;quot; name=&amp;quot;survey[questions][__name__][answers][__name__]&amp;quot; required=&amp;quot;required&amp;quot; /&amp;gt;&amp;lt;/div&amp;gt;&quot;></div></div></div>">
    <li>



        <div>
            <label class="required">Add answer options</label>
            <div id="survey_questions_0_answers" class="answers-list" data-prototype="<div ><input type=&quot;text&quot; id=&quot;survey_questions_0_answers___name__&quot; name=&quot;survey[questions][0][answers][__name__]&quot; required=&quot;required&quot; /></div>">
                <li>
                    <div>
                        <input type="text" id="survey_questions_0_answers_1" name="survey[questions][0][answers][1]" required="required">
                    </div>
                    <button class="btn btn-danger" type="button">X</button>
                </li>
                <li>
                    <div>
                        <input type="text" id="survey_questions_0_answers_2" name="survey[questions][0][answers][2]" required="required">
                    </div>
                    <button class="btn btn-danger" type="button">X</button>
                </li>
                <div>
                    <button type="button" class="btn btn-info">Add an answer</button>
                </div>
            </div>
        </div>

        <button class="btn btn-danger" type="button">X</button>
    </li>

    <li>
        <div id="survey_questions_5">
            

            <div>
                <label class="required">Add answer options</label>
                <div id="survey_questions_5_answers" class="answers-list" data-prototype="<div ><input type=&quot;text&quot; id=&quot;survey_questions_5_answers_5&quot; name=&quot;survey[questions][5][answers][5]&quot; required=&quot;required&quot; /></div>"></div>
            </div>
        </div>
        <ul class="form-group answers-list" data-prototype="<div ><input type=&quot;text&quot; id=&quot;survey_questions_0_answers___name__&quot; name=&quot;survey[questions][0][answers][__name__]&quot; required=&quot;required&quot; /></div>">
            <li>
                <div>
                    <input type="text" id="survey_questions_0_answers_0" name="survey[questions][0][answers][0]" required="required">
                </div>
                <button class="btn btn-danger" type="button">X</button>
            </li>
            <li>
                <div>
                    <input type="text" id="survey_questions_0_answers_1" name="survey[questions][0][answers][1]" required="required">
                </div>
                <button class="btn btn-danger" type="button">X</button>
            </li>
            <div>
                <button type="button" class="new btn btn-info">Add an answer</button>
            </div>
        </ul>
        <button class="btn btn-danger" type="button">X</button>
    </li>
    <div>
        <button type="button" class="btn btn-info">Add a question</button>
    </div>
</ul>



{# ################################################################# #}




{########################################################################################}
{########################################################################################}
{########################################################################################}
<li>
	{# Input 1 #} 
    <div>
        <label for="survey_questions_0_title" class="required">Title</label>
        <input type="text" id="survey_questions_0_title" name="survey[questions][0][title]" required="required" class="form-control">
    </div>
	{# Input 2 #}
    <div>
        <label for="survey_questions_0_answer_type" class="required">Answer type</label>
        <select id="survey_questions_0_answer_type" name="survey[questions][0][answer_type]" class="form-control">
            <option value="0">Multiple Choice</option>
            <option value="1">Single Choice</option>
            <option value="2">Star Rating</option>
            <option value="3">Textbox</option>
            <option value="4">Contact Info</option>
            <option value="5">Dropdown</option>
            <option value="6">Slider</option>
            <option value="7">Date/Time</option>
        </select>
    </div>
	{# UL #}
    <ul class="form-group answers-area" data-prototype="<input type=&quot;text&quot; id=&quot;survey_questions_0_answers___name__&quot; name=&quot;survey[questions][0][answers][__name__]&quot; required=&quot;required&quot; />">
        <li>
            <input type="text" id="survey_questions_0_answers_1" name="survey[questions][0][answers][1]" required="required">
            <button class="btn btn-danger" type="button">X</button>
        </li>
        <li>
            <input type="text" id="survey_questions_0_answers_2" name="survey[questions][0][answers][2]" required="required">
            <button class="btn btn-danger" type="button">X</button>
        </li>
        <div>
            <button type="button" class="btn btn-info">Add an answer</button>
        </div>
    </ul>
	{# Button X #}
    <button class="btn btn-danger" type="button">X</button>
</li>

{########################################################################################}
<li>
    <div id="survey_questions_5">
		{# Input 1 #}
        <div>
            <label for="survey_questions_5_title" class="required">Title</label>
            <input type="text" id="survey_questions_5_title" name="survey[questions][5][title]" required="required" class="form-control">
        </div>
		{# Input 2 #}
        <div>
            <label for="survey_questions_5_answer_type" class="required">Answer type</label>
            <select id="survey_questions_5_answer_type" name="survey[questions][5][answer_type]" class="form-control">
                <option value="0">Multiple Choice</option>
                <option value="1">Single Choice</option>
                <option value="2">Star Rating</option>
                <option value="3">Textbox</option>
                <option value="4">Contact Info</option>
                <option value="5">Dropdown</option>
                <option value="6">Slider</option>
                <option value="7">Date/Time</option>
            </select>
        </div>
		{#  #}
        <div>
            <label class="required">Add answer options</label>
            <div id="survey_questions_5_answers" class="answers-list" data-prototype="<div ><input type=&quot;text&quot; id=&quot;survey_questions_5_answers_5&quot; name=&quot;survey[questions][5][answers][5]&quot; required=&quot;required&quot; /></div>"></div>
        </div>
    </div>
	{#  #}
	<li>
    	<div id="survey_questions_5">
		{#  #}
        <div>
            <label for="survey_questions_5_title" class="required">Title</label>

			<ul class="form-group answers-area" data-prototype="<input type=&quot;text&quot; id=&quot;survey_questions_0_answers___name__&quot; name=&quot;survey[questions][0][answers][__name__]&quot; required=&quot;required&quot; ></ul>">
			<li>
				<input type="text" id="survey_questions_0_answers_1" name="survey[questions][0][answers][1]" required="required">
				<button class="btn btn-danger" type="button">X</button>
			</li>
			<li>
				<input type="text" id="survey_questions_0_answers_2" name="survey[questions][0][answers][2]" required="required">
				<button class="btn btn-danger" type="button">X</button>
			</li>
			<div>
				<button type="button" class="new btn btn-info">Add an answer</button>
			</div>
		</ul>
		<button class="btn btn-danger" type="button">X</button>
	</li>










