body {
    background-color: lightgray;
}


.button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: transparent;
    border-image: initial;
}


.empty-margin {
    margin: 23px 0;
}

ul.questions {
    padding-inline-start: 0!important;
}

.card-delete {
    float: right;
    font-size: 14px;
    padding: 13px;
    cursor: pointer;
}

.card-delete i:hover,
.card-delete i:active {
    color: red;
}

.answers-list input {
    width: 100%;
    border: 1px solid rgba(149, 149, 149, 0.246);
    border-radius: 5px;
}